.header
  color: #ff0000

  h1
    color: #00ff00

    small
      color: #ddd



// .header {
//   color: #ff0000;
// }
//
// .header h1 {
//   color: #00ff00;
// }
//
// .header h1 small {
//   color: #ddd;
// }
