.oleoscript
  font-family 'Oleo Script', cursive

.specialelite
  font-family 'Special Elite', cursive

.racingsans
  font-family 'Racing Sans One', cursive

.concertone
  font-family 'Concert One', cursive

.sharetech
  font-family 'Share Tech Mono'

.averiaserif
  font-family 'Averia Serif Libre', cursive

.menloregular
  font-family 'menlo-regular'
