extends mod/layout
block title
  title index.jadeファイルのタイトルが入ります-!
block meta
  meta(name='description', content='index.jadeファイルのディスクリプションが入ります')
block body
  #content
    p ここはindex.jadeのコンテンツです-!
